.about {
    width: 100%;
    height: auto;
    background-color: var(--dark-color);
    color: white;
    margin-top: 4rem;

    .about__container {
        padding:3rem 1.5rem;
    }

    .divider-top{
        svg {
            width: 100%;
            transform: rotate(0deg);
            margin-top: -15rem;
            .shape-fill {
                fill: var(--dark-color)
            }
        }
    }
    .divider-bottom{
        svg {
            width: 100%;
            transform: rotate(180deg);
            margin-bottom: -10.6rem;
            .shape-fill {
                fill: var(--dark-color)
            }
        }
    }

}
@media only screen and (min-width:1023px){
    .about{
        margin-top: 6rem;
        .about__container{
            height: fit-content;
        }
      .divider-top{
        svg{
            margin-top: -12rem;
        }
      }
      .divider-bottom{
        svg{
            margin-bottom: -13rem;
        }
      }
    }
}