.about {
    width: 100%;
    height:fit-content;
    background-color: var(--dark-color);
    color: white;
    margin-top: 4rem;

    .about__container {
        padding:3rem 1.5rem;
    }

    .divider-top{
        svg {
            width: 100%;
            transform: rotate(0deg);
            margin-top: -7.6rem;
            .shape-fill {
                fill: var(--dark-color)
            }
        }
    }
    .divider-bottom{
        svg {
            width: 100%;
            transform: rotate(180deg);
            margin-bottom: -7.6rem;
            .shape-fill {
                fill: var(--dark-color)
            }
        }
    }

}