@keyframes clockWise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counterClockWise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
header {
  width: 100%;
  height: 100vh;
}
header .header__container {
  height: 100%;
  display: flex;
  padding: 0rem 2rem;
  margin: 0rem auto;
  align-items: center;
  justify-content: space-between;
}
header .header__container .hero {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
header .header__container .hero .profilePic {
  width: 50%;
  position: relative;
  margin-left: 2rem;
}
header .header__container .hero .profilePic .shape1,
header .header__container .hero .profilePic .shape2,
header .header__container .hero .profilePic .shape3,
header .header__container .hero .profilePic .shape4,
header .header__container .hero .profilePic .shape5,
header .header__container .hero .profilePic .shape6 {
  width: 75%;
  height: 100%;
  position: absolute;
  border-radius: 60px;
  box-shadow: inset 1px 1px 10px black;
}
header .header__container .hero .profilePic .shape1 {
  animation: clockWise 2s linear infinite;
  background-color: var(--dark-color);
}
header .header__container .hero .profilePic .shape2 {
  animation: counterClockWise 4s linear infinite;
  background-color: var(--light-color);
}
header .header__container .hero .profilePic .shape3 {
  animation: clockWise 7s linear infinite;
  background-color: var(--dark-color);
}
header .header__container .hero .profilePic .shape4 {
  animation: counterClockWise 5s linear infinite;
  background-color: var(--light-color);
}
header .header__container .hero .profilePic .shape5 {
  animation: clockWise 3s linear infinite;
  background-color: var(--dark-color);
}
header .header__container .hero .profilePic .shape6 {
  animation: counterClockWise 6s linear infinite;
  background-color: var(--light-color);
}
header .header__container .hero .profilePic img {
  width: cover;
  border-radius: 50%;
  transform: translate(10px, 12px);
  position: absolute;
  box-shadow: var(--shadow);
}
header .header__container .hero .intro {
  width: 60%;
}
header .header__container .hero .intro h5 {
  margin-top: -4rem;
}
header .header__container .hero .intro h1 {
  margin-bottom: 5rem;
}
header .header__container .hero .intro .cta-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
header .header__container .hero .intro .cta-container a {
  margin: 0 1rem;
}
header .header__container .social {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: fit-content;
}
header .header__container .social a {
  height: fit-content;
  color: var(--dark-color);
  font-size: 1.6rem;
  justify-content: center;
  margin: 0.2rem;
}
header .header__container .social a:hover {
  transform: scale(1.2);
  color: var(--light-color);
}
header .header__container .social::before {
  content: "";
  width: 2px;
  height: 35px;
  margin-bottom: 1rem;
  background-color: var(--dark-color);
  align-self: center;
}
header .header__container .social::after {
  content: "";
  width: 2px;
  height: 35px;
  margin-top: 1rem;
  background-color: var(--dark-color);
  align-self: center;
}
header .header__container small {
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  margin-bottom: 4rem;
  transform: rotate(90deg);
}
header .header__container small span {
  padding: 1rem;
}/*# sourceMappingURL=Header.css.map */