@keyframes shake {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }

}

header {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-top: 4rem;

    .divider {
        bottom: 0;
        margin-bottom: -.44rem;

        svg {
            width: 100%;

            transform: rotate(180deg);
        }

        .shape-fill {
            fill: var(--dark-color);
        }
    }

    .header__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem;
        margin: 0rem auto;
        align-items: center;
        justify-content: space-between;

        .social {
            width: fit-content;
            display: flex;
            margin-top: 2rem;
            align-items: center;
            justify-self: center;
            position: absolute;
            top: 17rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    height: fit-content;
                    color: var(--dark-color);
                    font-size: 1.6rem;
                    align-items: center;
                    justify-content: center;
                    margin: .4rem;
                }

                a:hover {
                    transform: scale(1.2);
                    color: var(--light-color);
                }
            }

            ul::before {
                content: '';
                width: 35px;
                height: 2px;
                background-color: var(--dark-color);
                display: flex;
                align-self: center;
                justify-content: center;
            }

            ul::after {
                content: '';
                width: 35px;
                height: 2px;
                background-color: var(--dark-color);
                align-self: center;
            }
        }

        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;

            .profilePic {
                width: 100%;
                margin: 1rem auto;
                display: flex;
                justify-content: center;

                img {
                    width: cover;
                    border-radius: 50%;
                    box-shadow: var(--shadow);
                }
            }

            .intro {
                width: 100%;
                padding: 1rem;
                margin-top: 4rem;

                h5 {
                    text-align: center;
                }

                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .cta-container {
                    display: flex;
                    width: 100%;
                    margin: 1rem auto;
                    justify-content: center;

                    a {
                        width: 120px;
                        background-color: var(--bg-color);
                        color: var(--dark-color);
                        border: 1px solid var(--dark-color);
                        margin: 0 1rem;
                        padding: 0.3rem 0rem;
                        text-align: center;
                        border-radius: 5px;
                    }

                    .cta {
                        border: 1px solid grey;
                        background-color: var(--accent-color);
                        color: var(--dark-color);

                    }

                    a:hover {
                        background-color: var(--light-color);
                    }
                }
            }
        }

        .scroll {
            display: none;
            align-self: flex-end;
            margin-bottom: 4.5rem;
            height: fit-content;
            width: fit-content;
            writing-mode: vertical-lr;
            animation: shake 0.3s linear infinite;
            animation-direction: alternate;

            small {
                letter-spacing: 2px;
                font-weight: 800;

                span {
                    padding: 1rem;
                    color: var(--accent-color);
                }
            }
        }
    }
}

@media only screen and (min-width:761px) {}

@media only screen and(min-width:1025px) {}