@keyframes waves {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}
header {
  position: relative;
  background-color: var(--bg-color);
}
header .top-divider1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}
header .top-divider1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 15vh;
  animation: waves 8s linear alternate infinite;
}
header .top-divider1 .shape-fill {
  fill: var(--dark-color);
}
header .top-divider2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translate(150px);
  z-index: 0;
}
header .top-divider2 svg {
  position: relative;
  display: block;
  width: 105%;
  height: 20vh;
  animation: waves 12s linear alternate infinite;
}
header .top-divider2 .shape-fill {
  fill: var(--light-color);
}
header .bottom-divider1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}
header .bottom-divider1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 15vh;
  animation: waves 8s linear alternate infinite;
}
header .bottom-divider1 .shape-fill {
  fill: var(--dark-color);
}
header .bottom-divider2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translate(-100px) rotate(180deg);
  z-index: 0;
}
header .bottom-divider2 svg {
  position: relative;
  display: block;
  width: 115%;
  height: 20vh;
  animation: waves 15s linear alternate infinite;
}
header .bottom-divider2 .shape-fill {
  fill: var(--light-color);
}
header .header__container {
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: 9;
}
header .header__container .profilePic {
  padding: 0 1rem;
  z-index: 9;
}
header .header__container .profilePic img {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
}
header .header__container .social {
  display: flex;
}
header .header__container .social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header__container .social ul a {
  display: flex;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
header .header__container .social ul a:hover {
  transform: scale(1.3);
}
header .header__container .social ul::before {
  content: "";
  background-color: var(--dark-color);
  width: 2px;
  height: 60px;
  align-self: center;
}
header .header__container .social ul::after {
  content: "";
  background-color: var(--dark-color);
  width: 2px;
  height: 60px;
  align-self: center;
}
header .header__container .intro {
  display: flex;
  flex-direction: column;
  z-index: 4;
}
header .header__container .intro .cta-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
header .header__container .intro .cta-container .btn {
  margin: 0 1rem;
  width: 120px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  box-shadow: 1px 1px 15px grey;
}
header .header__container .intro .cta-container .btn:hover {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  color: white;
}
header .header__container .intro .cta-container .cta {
  background-color: var(--accent-color);
}

@media only screen and (max-width: 1024px) {
  header .header__container {
    flex-direction: column;
    justify-content: center;
  }
  header .header__container .profilePic {
    order: 1;
  }
  header .header__container .social {
    order: 2;
    margin: 1rem 0;
  }
  header .header__container .social ul {
    flex-direction: row;
  }
  header .header__container .social ul a {
    margin: 0 0.5rem;
  }
  header .header__container .social ul:before {
    width: 60px;
    height: 2px;
  }
  header .header__container .social ul:after {
    width: 60px;
    height: 2px;
  }
  header .header__container .intro {
    order: 3;
  }
}
@media only screen and (max-width: 600px) {
  header {
    /* .top-divider1 {
        svg {
            height: 80px;
            width: 220%;
        }
    }

    .top-divider2 {
        svg {
            height: 100px;
            width: 220%;
        }
    }

    .bottom-divider1 {
        svg {
            height: 180px;
            width: 220%;
        }
    }

    .bottom-divider2 {
        svg {
            height: 220px;
            width: 220%;
        }
    } */
  }
}/*# sourceMappingURL=Header.css.map */